* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    -webkit-tap-highlight-color: unset;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    color: $text_black;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.25px;
}

@each $color, $value in $colors {
    .bg-#{$color} {
        background-color: $value;
    }

    .color-#{$color} {
        color: $value;
    }
}