.cart-container-body-right-item {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
    .cart-container-body-right-item-img {
        width: 20%;
        margin-right: 3.2rem;
        @include mobile {
            width: 50%;
        }
        .cart-container-body-right-item-img-content {
            width: 100%;
        }
    }
    .cart-container-body-right-item-body {
        width: 100%;
        display: flex;
        @include mobile {
            display: block;
        }
        
        .cart-container-body-right-item-info {
            width: 32%;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 400;
            margin-right: 3.2rem;
            @include tablet {
                font-size: 1.2rem;
                margin-right: 1rem;
            }
            @include mobile {
                font-size: 1.2rem;
                width: 100%;
                margin-bottom: 1.2rem;
            }
            &.order {
                font-size: 1.4rem;
            }
        }
        .cart-container-body-right-item-price {
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 400;
            margin-right: 3.2rem;
            @include tablet {
                font-size: 1.2rem;
                margin-right: 1rem;
            }
            @include mobile {
                font-size: 1.2rem;
                margin-bottom: 1.2rem;
            }
            &.order {
                margin-right: 2rem;
            }
        }
        .cart-container-body-right-item-quantity {
            width: 25%;
            display: flex;
            align-items: center;
            margin-right: 1rem;
            @include mobile {
                font-size: 1.2rem;
                margin-bottom: 1.2rem;
            }
            .cart-container-body-right-item-quantity-item-left {
                font-size: 1.4rem;
                padding: 0.4rem;
                border-top: 2px solid $gray;
                border-bottom: 2px solid $gray;
                border-left: 2px solid $gray;
                cursor: pointer;
                @include tablet {
                    font-size: 0.8rem;
                }
                
            }
            .cart-container-body-right-item-quantity-item-middle {
                padding: 0.4rem 4rem;
                border: 0.2rem solid $gray;
                font-size: 1.4rem;
                @include tablet {
                    font-size: 0.8rem;
                    padding: 0.4rem 2rem;
                }
            }
            .cart-container-body-right-item-quantity-item-right {
                font-size: 1.4rem;
                padding: 0.4rem;
                border-top: 2px solid $gray;
                border-bottom: 2px solid $gray;
                border-right: 2px solid $gray;
                cursor: pointer;
                @include tablet {
                    font-size: 0.8rem;
                }
            }
        }
        .cart-container-body-right-item-icon {
            //margin-left: 1rem;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            &.delivery {
                margin-left: 3rem;
            }
            .cart-container-body-right-item-icon-content {
                cursor: pointer;
            }
        }
    }
}